* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: calc(14px + 0.5vw); /* Fluid typography formula */
    font-family:'Quicksand', Arial, sans-serif;
    font-weight: 600;
    color: #004d40;
    text-align:center;
    line-height: 1.6;
    position: relative;
  }
h2, h3, h4, h5 {
    margin: 1rem auto;
}
p {
    width: 95%;
    margin: 1rem auto;
}
header {
    background: #a8dadc;
    grid-area: header;
}
header p {
    margin: 0 auto .5rem;
}
#logo-image {
    max-height: 12vh;
}
.wrapper {
    display: grid;
    grid-gap: .25%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer"
    "fake-footer";
    width: 98%;
    height: 100vh;
    margin: 0 auto;
}
nav {
    background: #f4a261;
    grid-area: nav;   
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: #165c80;
    background-color: #f4a261;
    font-weight: bold;
}
main {
    background: #2a9d8f;
    grid-area: main;   
}
div.img-container {
    margin: 1rem auto;
    max-width: 95%;
}
.img-container p {
    margin: auto;
}
.photo-rights {
    font-style: italic;
    font-size: 1rem;
}
.first_img,
.second_img {
    max-width: 95%;
    height: auto;
}
main ul {
    margin: 1rem auto;
}
main ul li {
    text-transform: uppercase;
}
aside {
    background: #e9c46a;
    grid-area: aside;
}
table {
    width: 95%;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: seperate;
    border: .1rem solid #004d40;
}
caption {
    background-color: #e9c46a;
    caption-side: top;
    text-align: center;
}
th {
    background-color: #a8dadc;
}
th, td {
    padding: .25rem;
    text-align: center;
    border: .1rem solid #004d40;
}
tr:nth-child(even) {
    background-color: #f4a261;
}

footer {
    background: #e76f51;
    grid-area: footer;
    /* margin: 0 auto; */
    /* padding: .5em 1em; */
    
}

.newsletter-form input,
.newsletter-form textarea {
    width: 95%;
}
.newsletter-form form {
    max-width: 95%; /* and responsive size difference in media query */
    width: 95%;
    margin: 0 auto;
}
.newsletter-form button {
    background-color: #e76f51;
    color: white;
    padding: 0.25em 1em;
    border-radius: .5rem;
    cursor: pointer;
}
.newsletter-form button:hover {
    background-color: #f4a261;
}
div.fake-footer {
    background: goldenrod;
}
.fake-footer {
    grid-area: fake-footer;
}
.fake-content {
    max-width: 95%;
    margin: 0 auto;
}
.fake-content p {
    max-width: 95%;
}
.fake-content > ol {
    float: right;
    margin: .5rem auto .5rem 2rem;
}
.fake-content ol li {
    text-transform: uppercase;
}
.absolute {
    position: relative;
}
#item-absolute {
    max-height: 12vh;
}
@media (min-width: 768px) {
    body{
        font-size: calc(16px + 0.5vw);
    }
    .wrapper {
    grid-template-columns: minmax(0, 8fr) minmax(0, 7fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside"
    "footer footer"
    "fake-footer fake-footer";
    width: 97.5%;
    height: 100vh;
    margin: 0 auto;
    }
}