/* Reset and base styles */
html {
  min-width: 320px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
  max-width: 100%;
  margin: 0 auto;
}

header, nav, main, aside, footer {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 100%;
}

#logo-image {
  max-width: 100%;
  height: 100px;
  max-height: 100px;
}

header {
  grid-column: span 12;
  background-color: #a8dadc;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  grid-column: span 12;
  background-color: #f4a261;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #165c80;
  background-color: #f4a261;
  font-weight: bold;
  border-radius: 5px;
}

/* Default layout for main and aside */
main {
  grid-column: span 7;
  background-color: #2a9d8f;
  order: 1; /* Default order for main */
}

aside {
  grid-column: span 5;
  background-color: #e9c46a;
  overflow: auto;
  order: 2; /* Default order for aside */
}

.first_img {
  max-width: 65%;
  float: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #2a9d8f;
  padding: 8px;
  text-align: center;
}

caption {
  background-color: #e9c46a;
  padding: 8px;
  caption-side: bottom;
}

th {
  background-color: #a8dadc;
}

tr:nth-child(even) {
  background-color: #f4a261;
}

footer {
  grid-column: span 12;
  background-color: #e76f51;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  order: 3; /* Adjust order as needed */
}

.newsletter-form {
  margin-top: 5px;
}

.newsletter-form h5 {
  font-size: 1.2em;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 5px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #e76f51;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #d45b3e;
}

/* Media query for screens between 769px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Common styles for both .state-page and .city-page */
  .state-page main,
  .city-page main,
  .state-page aside,
  .city-page aside {
    grid-column: span 7;
    order: 2;
  }

  .state-page aside,
  .city-page aside {
    grid-column: span 5;
    order: 1;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  main, aside {
    grid-column: span 12;
  }
}
